/* Using Pseudo Selector's first-child for first paragraph :- */

div p:first-child{
    background-color : yellow;
    color : red;
}

/* Using p element for other paragraphs :- */

p{
    background-color : blue;
    color : white;
}